.project
.cproject
.settings
*.tmp.*
_*
datasources
*.o
*.cl.h

# compiled binaries
mapping_manager
mapping_manager.san
mapping_cgi
r_server
gtest
tileserver
cache_index
cache_node
cache_experiments
cluster_experiment
local_setup
test_client
test/systemtests/parse_logs

# machine specific configuration
Makefile.local

# generated documentation
docs/mappingDoc/*
