# ide files
.project
.cproject
.settings
.idea
*.tmp.*
datasources

# compiled binaries
mapping_manager.san
r_server
/gtest
tileserver
cache_index
cache_node
cache_experiments
cluster_experiment
local_setup
test_client
test/systemtests/parse_logs
/target
*.cl.h

# CMake
cmake-build-debug
cmake-build-release

# machine specific configuration
Makefile.local

# generated documentation
docs/mappingDoc/*

# mapping configuration
mapping.conf
